<h1>Welcome to Pioneerworks!</h1>

<ul>
  <li>First Floor
    <ul>
      <li><%= link_to 'Events', events_path %></li>
    </ul>
  </li>
  <li><%= link_to 'Second Floor' %></li>
  <li><%= link_to 'Third Floor' %></li>
</ul>
